$main-color: #10101d;
$header-background-color: #10101d;
$order-background-color: #272733;
$accent-color: #3e9cdc;
$background-color: #3d4050;
$font-color: #ffffff;
$banner-font-color: #000000;
$font-color-secondary: #2a2b30;
$container-width: 1200px;
$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Lato", sans-serif;
$font-color-light: #bbbbbb;
$border-color: #286690;
$input-background-color: #ffffffd9;
$footer-text-color-secondary: #c3c3c3;
$range-track-color: #ffffffb2;
$range-thumb-color: #42a9ed;
