@use "../base/mixins" as *;
@use "../base/variables" as *;

.footer {
  padding: 16px 0px;
  background-color: $background-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $container-width;
    margin: 0 auto;
    color: $font-color;
    letter-spacing: 0;
    font-family: $font-family-secondary;
    font-size: 13px;
    font-weight: 400;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__container > * {
    position: relative;
    display: flex;
    gap: 40px;

    &:not(:last-child)::after {
      position: absolute;
      right: -45px;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      width: 1px;
      height: 18px;
      background: $font-color;
    }

    @include mobile {
      &::after {
        display: none;
      }
    }
  }

  &__payment {
    display: flex;
    align-items: center;
    gap: 10px;
    color: $footer-text-color-secondary;
  }

  &__contact {
    text-decoration: none;
    color: $font-color;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__uppercase {
    text-transform: uppercase;
  }
}
