@use "../base/variables" as *;

.order {
  padding: 130px 20px;
  color: $font-color;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  background: $order-background-color;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("/public/images/main-background.png") no-repeat top / cover;
    opacity: 0.1;

    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  &__container {
    max-width: $container-width;
    margin: 0 auto;
    flex: 1;
    height: 100%;
    font-family: $font-family-secondary;
  }

  &__title {
    font-weight: 800;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__accent {
    color: $accent-color;
  }

  &__description {
    text-align: center;
    margin-bottom: 60px;
    color: $font-color-light;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 36px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__field {
    input,
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid $font-color;
      border-radius: 4px;
      background-color: $input-background-color;
    }
  }

  &__range {
    grid-column: span 2;

    input {
      -webkit-appearance: none;
      width: 100%;
      background: transparent;

      &::-webkit-slider-runnable-track {
        height: 6px;
        background: $range-track-color;
        border-radius: 2px;
        border: 1px solid $font-color;
      }

      &::-moz-range-track {
        height: 6px;
        background: $range-track-color;
        border-radius: 2px;
        border: 1px solid $font-color;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $range-thumb-color;
        border: 3px solid $border-color;
        margin-top: -7px;
        cursor: pointer;
      }

      &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: $range-thumb-color;
        border: 3px solid $border-color;
        margin-top: -7px;
        cursor: pointer;
      }
    }
  }

  &__range-label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__file-btn {
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
  }

  &__file {
    display: flex;
    align-items: center;
    padding: 0 !important;
  }

  &__submit {
    grid-column: span 1/3;
  }
}
