@use "../base/variables" as *;

.button {
  padding: 15px 10px;
  border-radius: 4px;
  border: none;
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.5s ease;
  text-transform: uppercase;
  flex: 1;

  &--primary {
    background-color: $color-accent;
    color: $color-text-primary;
    border: 1px solid $color-text-primary;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $color-text-primary;
        color: $color-accent;
      }
    }
  }

  &--secondary {
    background-color: $color-text-primary;
    color: $color-text-dark;
    border: 1px solid $color-border-secondary;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: $color-text-secondary;
        color: $color-text-primary;
      }
    }
  }
}
